.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.optionsContaienr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.btnAdd {
  place-self: flex-end;
  display: flex;
  gap: 1rem;
  padding: 0.25rem 1.4rem;
}

.cardsList {
  overflow: auto;
  padding-right: 10px;
  flex-grow: 1;
  place-content: flex-start;
}
