.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btnAdd {
  place-self: flex-end;
  display: flex;
  gap: 1rem;
}

.cardsList {
  overflow: auto;
  padding-right: 10px;
  flex-grow: 1;
  place-content: flex-start;
}
