.heroSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  width: 90%;
  margin: 5rem auto;
}

.heroImg {
  width: 60%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.heroTitle {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  /* color: white; */
}

.heroText {
  font-size: 1.8rem;
}

.btnBrowse {
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-weight: 600;
}

.categoriesSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.category {
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.categoryIcon {
  width: 90%;
  height: 90%;
}

.recommendedSection {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.recommendedTitle {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
