.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background-color: var(--background);
  border-left: 1px solid rgb(24, 51, 103);
  /* border-bottom: 1px solid rgb(24, 51, 103); */
  transition: all 0.2s;
  padding: 20px 20px;
  width: 300px;
  height: 100%;
}

.media-controls {
  display: flex;
}

.button-container {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-top-color: rgba(0, 0, 0, 0.3);
  border-left-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1px;
}

.media-button {
  background-color: rgba(255, 255, 255, 0.02);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 32px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-color: rgba(255, 255, 255, 0.15);
}

.media-button:first-child {
  border-left-color: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.media-button:last-child {
  border-right-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.media-button:active {
  border-width: 1px;
  transform: scale(0.96);
}

.media-button-play {
  width: 80px;
}

.media-button-icon {
  position: static;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
}

.video {
  width: 0;
  height: 0;
  visibility: hidden;
}

.visualizer {
  width: 257px;
}

.now-playing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 10px; */
  flex-shrink: 0;
  width: 100%;
  /* height: 130px; */
  overflow: hidden;
  /* border-radius: 6px; */
  overflow: hidden;
  background-color: black;
  /* border: 1px solid rgb(24, 51, 103); */
  /* border: 4px solid rgba(255, 255, 255, 0.15);
  border-top-color: rgba(0, 0, 0, 0.3);
  border-left-color: rgba(0, 0, 0, 0.3); */
}

.now-playing-info {
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

.track-name {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}

.currentTrack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 450px;
  flex-shrink: 0;
  /* padding: 10px;
  border-radius: 6px;
  border: 1px solid rgb(24, 51, 103);
  background-color: rgb(15, 23, 42); */
}

.artwork {
  display: block;
  width: 210px;
  height: 210px;
  border-radius: 14px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.trackInfo {
  width: 100%;
  height: 75px;
  flex-shrink: 0;
}

.stationName {
  font-size: 1.6rem;
  font-weight: 600;
}

.trackTitle {
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}

.trackArtist {
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
}

.trackAlbum {
  font-style: italic;
}

.musicLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
}

.musicLinks img {
  width: 24px;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.historyCard {
  margin-right: 1rem;
  flex-shrink: 0;
}

.historyTrackInfo {
  white-space: nowrap;
}

.historyCardTitle {
  font-weight: 600;
}

.historyCardDate {
  font-size: 1rem;
  margin-top: 1rem;
}

@keyframes breeth {
  from {
    box-shadow: 0px 0px 1rem rgba(23, 92, 230, 0.1);
    border-color: rgb(24, 51, 103);
  }
  to {
    box-shadow: 0px 0px 2rem rgba(23, 92, 230, 0.7);
    border-color: rgb(48, 110, 232);
  }
}
