.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background-color: rgb(15, 23, 42);
  border: 1px solid rgb(24, 51, 103);
  border-radius: 8px;
  transition: all 0.2s;
  padding: 20px 20px;
  width: 300px;
  height: fit-content;
}

.media-controls {
  display: flex;
}

.button-container {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-top-color: rgba(0, 0, 0, 0.3);
  border-left-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1px;
}

.media-button {
  background-color: rgba(255, 255, 255, 0.02);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 32px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-color: rgba(255, 255, 255, 0.15);
  transition: transform 0.2s ease-out;
}

.media-button:first-child {
  border-left-color: rgba(255, 255, 255, 0.15);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.media-button:last-child {
  border-right-color: rgba(0, 0, 0, 0.3);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.media-button:active {
  border: none;
  border-width: 1px;
  transform: scale(0.96);
}

.media-button.disabled {
  border: none;
  border-width: 1px;
  transform: scale(0.96);
  transition: all 0.2s ease-in;
}

.media-button-play {
  width: 80px;
}

.media-button-icon {
  opacity: 1;
  position: static;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  transition: opacity 0.2s ease-out;
}

.media-button.disabled .media-button-icon {
  opacity: 0.3;
  transition: opacity 0.2s ease-in;
}

.video {
  width: 0;
  height: 0;
  visibility: hidden;
}

.visualizer {
  width: 257px;
}

.currentTrack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 425px;
  flex-shrink: 0;
}

.artwork {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 14px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.trackInfo {
  width: 100%;
  height: 50px;
  flex-shrink: 0;
}

.stationName {
  font-size: 1.6rem;
  font-weight: 600;
}

.trackTitle {
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}

.trackArtist {
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
}

.trackAlbum {
  font-style: italic;
}

.musicLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 24px;
}

.musicLinks img {
  width: 24px;
}

.active {
  border: 1px solid rgb(48, 110, 232);
  box-shadow: 0px 0px 2rem rgba(23, 92, 230, 0.7);
  transition: all 0.2s;
}

.loading {
  animation-duration: 0.8s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.2s;
}

.error {
  animation-duration: 0.2s;
  animation-name: error;
  animation-iteration-count: 3;
}

@keyframes breeth {
  from {
    box-shadow: 0px 0px 1rem rgba(23, 92, 230, 0.1);
    border-color: rgb(24, 51, 103);
  }
  to {
    box-shadow: 0px 0px 2rem rgba(23, 92, 230, 0.7);
    border-color: rgb(48, 110, 232);
  }
}

@keyframes loading {
  from {
    box-shadow: 0px 0px 1rem rgba(23, 92, 230, 0.1);
    border-color: rgb(24, 51, 103);
  }
  to {
    box-shadow: 0px 0px 2rem rgba(23, 92, 230, 0.7);
    border-color: rgb(48, 110, 232);
  }
}

@keyframes error {
  from {
    box-shadow: 0px 0px 1rem rgba(23, 92, 230, 0.1);
    border-color: rgb(24, 51, 103);
  }
  to {
    box-shadow: 0px 0px 2rem rgba(23, 92, 230, 0.7);
    border-color: rgb(48, 110, 232);
  }
}

@media screen and (max-width: 600px) {
  .player {
    width: 80%;
    height: 100%;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 auto;
  }

  .currentTrack {
    height: 100%;
  }

  .artwork {
    width: 100%;
    height: 100%;
  }

  .active {
    border: none;
    box-shadow: none;
  }

  .loading {
    animation: none;
  }

  .error {
    animation: none;
  }
}
