.icon-favorite {
  position: absolute;
  width: 1.6rem;
  height: 1.6em;
  bottom: 0.25rem;
  right: 0.5rem;
}

.options {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-group label {
  margin-right: 1rem;
}

.pagination {
  max-width: fit-content;
  margin: 2rem auto;
}

.spinner {
  margin: 2rem auto;
}
