.icon-favorite {
  position: absolute;
  width: 2rem;
  height: 2em;
  bottom: 0.25rem;
  right: 0.5rem;
}

.options {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.form-group label {
  margin-right: 1rem;
}

.pagination {
  display: grid;
  grid-template-columns: 12rem 12rem;
  gap: 1rem;
  max-width: fit-content;
  margin: 2rem auto;
}
