.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.cardsList {
  overflow: auto;
  padding-right: 10px;
  flex-grow: 1;
  place-content: flex-start;
}

.icon-favorite {
  position: absolute;
  width: 1.6rem;
  height: 1.6em;
  bottom: 0.25rem;
  right: 0.5rem;
}

.pagination {
  max-width: fit-content;
  margin: 2rem auto;
}

.spinner {
  margin: 2rem auto;
}
