:root {
  --color-primary: #3498db;
  --color-secondary: #2ecc71;
  --color-danger: #e74c3c;
  --color-background: #050d0f;
  --color-border: #bdc3c7;

}

.menuContainer {
  position: relative;
}

.userMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menuItemText {
  margin-left: 0.5rem;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
}

.signout-item {
  color: var(--color-danger);
  padding: 1rem 1rem;
}

.signout-item:hover {
  color: white;
  cursor: pointer;
}

.languageMenuItem {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.currentFlag {
  width: 24px !important;
  height: 16px !important;
}

.submenu {
  position: absolute;
  top: 100%;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.submenuItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  color: var(--color-text);
  text-decoration: none;
  transition: background-color 0.2s;
  border-bottom: none !important;
}
.submenuItem:hover {
  background-color: var(--color-background-hover);
}

.languageDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.languageOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  background: none;
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.2s;
}

.languageOption:hover {
  background-color: var(--color-background-hover);
}

.flag {
  width: 24px !important;
  height: 16px !important;
}

@media screen and (max-width: 1000px) {
  .spinner {
    width: 3rem;
    height: 3rem;
  }
}
