.navigation {
  background-color: rgb(15, 23, 42);
  border: 1px solid rgb(24, 51, 103);
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.search {
  flex-grow: 1;
}

.container {
  display: flex;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.sidePanel {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 639px) {
  .navigation {
    width: 100vw;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  .container {
    display: block;
    position: relative;
  }

  .content {
    overflow: hidden;
    display: block;
    padding: 0 1rem;
  }

  .sidePanel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
