.container {
  height: 100vh;
}

.grid-container {
  display: flex;
  height: 100vh;
}

.side-menu {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-right: 1px solid rgb(24, 51, 103);
  background-color: var(--background);
  overflow: hidden;
  padding: 1.4rem 1.4rem;
  width: 20rem;
  flex-shrink: 0;
  padding-top: 10rem;
}

.nowplaying-container {
  border-left: 1px solid rgb(24, 51, 103);
  padding: 1.4rem 1.4rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: auto; */
  flex-grow: 1;
}

.main-container > main {
  display: block;
  /* background-color: var(--background); */
  flex-grow: 1;
  padding: 1.4rem 1.4rem;
  overflow: auto;
}
