.container {
  display: flex;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.sidePanel {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 639px) {
  .container {
    display: block;
    position: relative;
  }

  .content {
    overflow: hidden;
    display: block;
    padding: 0 1rem;
  }

  .sidePanel {
    display: none;
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .sidePanel.playerActive {
    display: block;
  }
}
